
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | Blog Deneme</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/x-icon" href="~/tema/icons8_workspace.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-tema/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login-tema/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-43">
                        Admin Girişi
                    </span>


                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adı Boş Bırakılamaz!">
                        <input class="input100" type="text" name="KULLANICIADI">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Kullanıcı Adı</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Şifre Boş Bırakılamaz!">
                        <input class="input100" type="password" name="PAROLA">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Şifre</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>

                </form>

                <div class="login100-more" style="background-image: url('/login-tema/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>





    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login-tema/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login-tema/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-tema/js/main.js"></script>

</body>
</html>
