@model BlogDeneme.Models.Entity.Tbl_SosyalMedya

@{
    ViewBag.Title = "HesapGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("HesapGuncelle", "Vitrin", FormMethod.Post))
{
    <div>
        <div class="row">
            @Html.HiddenFor(x => x.ID)
            <div class="input-group mb-3 col">
                <label class="input-group-text text-dark">Adı:</label>
                @Html.TextBoxFor(x => x.AD, new { @class = "form-control ml-2", @placeholder = "Örn(Instagram, YouTube...)" })
            </div>
            <div class="input-group mb-3 col">
                <label class="input-group-text text-dark">Hesap:</label>
                @Html.DropDownListFor(x => x.Tbl_SosyalMedyaIkon.ID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text text-dark">Link:</label>
            @Html.TextBoxFor(x => x.LINK, new { @class = "form-control", @placeholder = "Link..." })
        </div>

        <div class="clearfix">
            <div class="float-right">
                <button class="btn btn-outline-success">Güncelle</button>
            </div>
        </div>
    </div>
}