@model BlogDeneme.Models.Entity.Tbl_BlogKategori

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Vitrin", FormMethod.Post))
{
    <div>
        <div class="row">
            <div>
                @Html.HiddenFor(x => x.ID)
            </div>
            <div class="input-group mb-3 col">
                <label class="input-group-text text-dark">Kategori Adı:</label>
                @Html.TextBoxFor(x => x.AD, new { @class = "form-control ml-1", @placeholder = "Yazar adı..." })
            </div>
        </div>

        <div class="clearfix">
            <div class="float-right">
                <button class="btn btn-outline-success">Güncelle</button>
            </div>
        </div>
    </div>
}



