@model BlogDeneme.Models.Entity.Tbl_BlogKategori

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<form class="form-group" method="post">
    <div class="row">
        <div class="input-group mb-3 col">
            <label class="input-group-text text-dark">Kategori Adı:</label>
            @Html.TextBoxFor(x => x.AD, new { @class = "form-control ml-1", @placeholder = "Kategori adı...", @required="required" })
            @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color: red;", @class = "form-control-text" })
        </div>
    </div>

    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-outline-info">Kategori Ekle</button>
        </div>
    </div>
</form>


